@charset "UTF-8";
:root{
    --cor-cabecalho: rgb(184, 178, 178);
    --cor-nacegacao: rgb(57, 209, 255);
}
*{
    margin: 0; 
}
body{
    background-color: rgb(229, 231, 230);
}
.cabecalho{
    background-color: var(--cor-cabecalho); 
    height: 230px;
}
.cabecalho img{
    margin-top: 50px;
    margin-left: 10px;
}
.cabecalho .traco{
    margin-top: 30px;
    width: 100%;
    background-color: var(--cor-nacegacao);
    padding: 0px;
    height: 15%;
}
nav .nivelum{
    float: right;
    margin-right: 100px;
    background-color: var(--cor-nacegacao);
    border-radius: -5px 10px;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul ul li{
    display: block;
    position: absolute;
    bottom: 370px;
    
}
nav ul ul{
    display: none;
}
nav ul a{
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1rem;
    padding: 5px;
}
nav ul a:hover{
    color: rgb(255, 0, 0);
}
nav ul li:hover ul{
    display: block;
    
}

/*Seções*/
#imagem{
    float: left;
    width: 40%;
    border-right: 1px solid black;
    margin-left: 20px;
    padding-right: 50px;
}
#texto{
    float: right;
    width: 50%;
}