@charset "UTF-8";
:root{
    --cor-cabecalho: rgb(184, 178, 178);
    --cor-navegacao: rgb(0, 59, 77);
}
*{
    margin: 0; 
    padding: 0;
}
body{
    background-color: rgb(229, 231, 230);
}
/*Header*/
.cabecalho{
    background-color: var(--cor-cabecalho); 
    height: 230px;
}
.cabecalho img{
    margin-top: 50px;
    margin-left: 10px;
}
.cabecalho .traco{
    margin-top: 50px;
    width: 45%;
    border-radius: 4px 70px 3px 5px;
    background-color: var(--cor-navegacao);
    padding: 0px;
    height: 10%;
}
/*Menu de Navegação */ 
.menu{
    background-color: var(--cor-navegacao);
    width: 100%;
    height: 40px;
    
}
.menu ul{
    list-style: none;
    float: right;
}
.menu ul li{
   display: inline-block;
    width: 120px;
    text-align: center;
    
}
.menu a{
    font-weight: bold;
    color: white;
    display: block;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
    background-color: var(--cor-navegacao);
    
}
.menu ul ul{
    display: none;
    position: absolute;
}
.menu a:hover{
    transition: 0.5s;
    color: rgb(55, 146, 173);
    background-color: rgb(27, 68, 80);
}
.menu ul li ul li{
    
    border: 1px solid rgb(2, 23, 29)
}
.menu ul li:hover ul{
    
    display: block;
}

/*Seções*/
main{
    margin-top: 90px;
    padding: 10px;
}
section{
    background-color: white;
    padding: 10px;
    height: 450px;
    border-radius: 1rem;
    margin-bottom: 70px;
}
#imagem{ 
    float: left;
    width: 40%;
    padding-right: 50px;
}
#texto{
    float: right;
    width: 50%;
}
/*Rodapé*/
.rodape{
   
  
}